[flake8]
# Rule definitions: http://flake8.pycqa.org/en/latest/user/error-codes.html
# D203: 1 blank line required before class docstring
# F401: 'identifier' imported but unused
# E402: module level import not at top of file
# W503: line break before binary operator
# C901: 'Methodname' is too complex ('n')
exclude = venv*,__pycache__,node_modules,bower_components,.git
ignore = D203,W503
max-complexity = 19
max-line-length = 120
putty-ignore =
    **/__init__.py : +F401
    scripts/ : +E402
    scripts/get-model-data.py : +C901
