*.pyc
__pycache__
output/
venv*

# cram (functional test) files
*.err

# local environment customizations
local.nix

# Make it more difficult to accidentally commit PII
*.csv
!/tests/fixtures/*.csv
*.pdf
*.odt
*.ods
*.odp

.idea/
