-r requirements.txt
cram
flake8==3.5.0
flake8-per-file-ignores
freezegun
ipython
ipython-genutils
lxml
mock
pytest
requests-mock

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.3.0#egg=digitalmarketplace-test-utils==2.3.0
