# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask==1.1.2
itsdangerous==2.0.1

digitalmarketplace-apiclient
digitalmarketplace-content-loader
digitalmarketplace-utils>=60.5.0

backoff==2.2.1
docopt==0.6.2
jsonschema==4.18.4
lorem==0.1.1
pypdf2==2.12.1
python-dateutil==2.8.2
python-json-logger==2.0.7
unicodecsv==0.14.1
xeger==0.3.5
yq==3.2.2
