git+https://github.com/madzak/python-json-logger.git@v0.1.5#egg=python-json-logger==v0.1.5
git+https://github.com/alphagov/digitalmarketplace-utils.git@25.0.1#egg=digitalmarketplace-utils==25.0.1
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@7.5.0#egg=digitalmarketplace-apiclient==7.5.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@2.8.0#egg=digitalmarketplace-content-loader==2.8.0
git+https://github.com/alphagov/notifications-python-client.git@4.0.0#egg=notifications-python-client==4.0.0

unicodecsv==0.14.1
python-dateutil==2.4.2
Jinja2==2.7.3
jsonschema==2.5.1
pandas==0.19.1
xeger==0.3.1
lorem==0.1.1
