# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask==1.0.4
itsdangerous==1.1.0

git+https://github.com/madzak/python-json-logger.git@v0.1.8#egg=python-json-logger==0.1.8
git+https://github.com/alphagov/digitalmarketplace-utils.git@52.7.0#egg=digitalmarketplace-utils==52.7.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@21.6.0#egg=digitalmarketplace-apiclient==21.6.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@7.3.0#egg=digitalmarketplace-content-loader==7.3.0

awscli~=1.18.132
backoff==1.10.0
docopt==0.6.2
jsonschema==3.2.0
lorem==0.1.1
python-dateutil==2.8.1
unicodecsv==0.14.1
xeger==0.3.5
yq==2.10.1
