-c requirements.txt

pip-tools>5.0.0

cram
flake8
freezegun
ipython
ipython-genutils
lxml
mock<4.0.0
pytest
requests-mock

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.8.2#egg=digitalmarketplace-test-utils==2.8.2
