git+https://github.com/madzak/python-json-logger.git@v0.1.5#egg=python-json-logger==v0.1.5
git+https://github.com/alphagov/digitalmarketplace-utils.git@21.7.0#egg=digitalmarketplace-utils==21.7.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@7.5.0#egg=digitalmarketplace-apiclient==7.5.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@1.0.0#egg=digitalmarketplace-content-loader==1.0.0

unicodecsv==0.14.1
python-dateutil==2.4.2
Jinja2==2.7.3
pytest==2.8.7