# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.3 # pyup: >=1.0.0,<1.1.0

git+https://github.com/madzak/python-json-logger.git@v0.1.8#egg=python-json-logger==v0.1.8
git+https://github.com/alphagov/digitalmarketplace-utils.git@48.1.0#egg=digitalmarketplace-utils==48.1.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@20.2.0#egg=digitalmarketplace-apiclient==20.2.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@5.2.0#egg=digitalmarketplace-content-loader==5.2.0

awscli==1.16.210
backoff==1.8.0
clamd==1.0.2
docopt==0.6.2
jsonschema==3.0.2
lorem==0.1.1
pandas==0.19.1  # pyup: ignore # avoid updating as it means reopening a fairly gnarly script
python-dateutil==2.8.0
unicodecsv==0.14.1
xeger==0.3.4
yq==2.7.2
