-r requirements.txt
cram==0.7
flake8==3.7.5
flake8-per-file-ignores==0.8.1
freezegun==0.3.11
ipython==7.2.0
ipython-genutils==0.2.0
lxml==4.3.1
mock
pytest
requests-mock

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.3.0#egg=digitalmarketplace-test-utils==2.3.0
