# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask==1.0.4 # pyup: >=1.0.0,<1.1.0
itsdangerous==0.24 # pyup: ignore

git+https://github.com/madzak/python-json-logger.git@v0.1.8#egg=python-json-logger
git+https://github.com/alphagov/digitalmarketplace-utils.git@51.5.0#egg=digitalmarketplace-utils
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@21.0.0#egg=digitalmarketplace-apiclient
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@7.3.0#egg=digitalmarketplace-content-loader

awscli==1.18.21
backoff==1.10.0
clamd==1.0.2
docopt==0.6.2
jsonschema==3.2.0
lorem==0.1.1
pandas==0.19.1  # pyup: ignore # avoid updating as it means reopening a fairly gnarly script
numpy==1.17.4  # pyup: ignore # required for compatibility with pandas 0.19.1
python-dateutil==2.8.1
unicodecsv==0.14.1
xeger==0.3.5
yq==2.10.0
