<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
Dear buyer,
<br /><br />
Your '{{ brief_title }}' requirements are now closed for applications.
<br /><br />
You can see a list of the suppliers that met all your essential skills and experience at: <a href="https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/responses">https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/responses</a>
<br /><br />
Next, you'll need to shortlist and evaluate them.
<br /><br />
Read about:
<ul>
  <li>how to shortlist suppliers at: <a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers</a></li>
  <li>how to evaluate suppliers at: <a href="https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers">https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers</a></li>
  <li>ways to assess suppliers at: <a href="https://www.gov.uk/guidance/ways-to-assess-digital-outcomes-and-specialists-suppliers">https://www.gov.uk/guidance/ways-to-assess-digital-outcomes-and-specialists-suppliers</a></li>
  <li>how to score suppliers at: <a href="https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers">https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers</a></li>
</ul>
You can find templates to help you at: <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-templates-and-legal-documents">https://www.gov.uk/guidance/digital-outcomes-and-specialists-templates-and-legal-documents</a>
<br /><br />
Make sure you notify any unsuccessful suppliers who don't make it through to the next stage.
<br /><br />
Thanks, <br />
The Digital Marketplace team
</body>
</html>
